PORT=5000
MONGODB_URI=mongodb://devsakshi:sakshidev@ac-llzekl9-shard-00-00.8naj5tp.mongodb.net:27017,ac-llzekl9-shard-00-01.8naj5tp.mongodb.net:27017,ac-llzekl9-shard-00-02.8naj5tp.mongodb.net:27017/eventoradev?ssl=true&replicaSet=atlas-lpwbjp-shard-0&authSource=admin&appName=Cluster0
EMAIL_USER=sakshilal2005@gmail.com
EMAIL_PASS=iurc bkkc yujd cpmz
JWT_SECRET=sakshisaksham