PORT = 5000
MONGODB_URI = mongodb://sakshi_db:Sakshi21@ac-llzekl9-shard-00-00.8naj5tp.mongodb.net:27017,ac-llzekl9-shard-00-01.8naj5tp.mongodb.net:27017,ac-llzekl9-shard-00-02.8naj5tp.mongodb.net:27017/?ssl=true&replicaSet=atlas-lpwbjp-shard-0&authSource=admin&appName=Cluster0
EMAIL_USER = sakshilal2005@gmail.com
EMAIL_PASS = dyeq mhrp fckc qoej
JWT_SCRET = sakshisaksham